.htTextHidden {
  color: transparent;
  background-color: var(--color-dark);
  padding: 0px 10px;
}

.htText {
  position: absolute;
  left: 10px;
  animation: reveal both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  color: var(--color-light);
  line-height: normal;
}

@keyframes reveal {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
