.form {
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: var(--space-md);
  border-radius: var(--rounded-sm);
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.box > label {
  font-family: var(--font-family-title);
  font-size: var(--font-size-md);
  text-transform: uppercase;
  color: var(--color-light);
}

.box > input,
& textarea,
& select {
  width: 100%;
  background-color: var(--color-light-variant);
  border-radius: var(--rounded-sm);
  padding: var(--space-sm);
  font-family: var(--font-family-base);
  outline: none;
  opacity: 0.5;
  border-color: var(--color-dark-variant);
}

.box > input:focus,
& textarea:focus {
  opacity: 1;
}

.box > textarea {
  resize: none;
  height: 120px;
}

@media (min-width: 720px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form > .box:nth-child(5),
  & button {
    grid-column: span 2;
  }
}
