.section {
  min-height: 100vh;
  padding: var(--space-container-y) var(--space-container-x);
  background-color: var(--color-light-variant);
  display: grid;
  gap: var(--space-lg);
}

.contentContainer {
  display: grid;
  gap: var(--space-md);
}

@media (min-width: 620px) {
  .contentContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .contentContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .contentContainer > .card:nth-child(3) {
    animation-delay: 1s;
  }
}
