.section {
  padding: var(--space-container-y) var(--space-container-x);
  display: grid;
  gap: var(--space-md);
}

@media (min-width: 720px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}
