/* --------------------------------- colors --------------------------------- */
:root {
  --color-light: #faf2db;
  --color-light-variant: #f1e3c5;
  --color-light-transparent: rgb(250, 242, 219, 0.7);

  --color-dark: #163440;
  --color-dark-variant: #4b5463;
  --color-dark-transparent: rgb(22, 52, 64, 0.7);

  --color-primary: #f24405;
  --color-primary-variant: #a12e03;

  /* plans */
  --color-sakura: #e4a8c9;
  --color-sakura-dark: #80354e;
  --color-fuji: #87a3a7;
  --color-fuji-dark: #1b3032;
  --color-bushido: #e59292;
  --color-bushido-dark: #501010;
  --color-tenka: #ed1c24;
  --color-tenka-dark: #5a0e0f;
}

/* ------------------------------- font sizes ------------------------------- */
:root {
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3.2rem;
  --font-size-xxl: 5rem;
  --font-size-xxxl: 8.2rem;
}

/* --------------------------------- spaces --------------------------------- */
:root {
  --space-sm: 13px;
  --space-md: 34px;
  --space-lg: 55px;
  --space-container-y: 10dvh;
  --space-container-x: 5%;
}

/* ------------------------------ font families ----------------------------- */
@font-face {
  font-family: "Anton";
  src: url("/assets/fonts/Anton-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-family-title: "Anton";
  --font-family-base: "Noto Sans";
  --font-family-text-jp: "Noto Sans JP";
}

/* --------------------------------- others --------------------------------- */
:root {
  --rounded-sm: 5px;
  --rounded-md: 16px;
  --duration-fast: 0.3s;
  --duration-normal: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  place-content: center;
  justify-content: center;
  place-items: center;
  transition-duration: var(--duration-fast);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
span,
small {
  text-wrap: pretty;
}
