/* --------------------------------- colors --------------------------------- */
:root {
  --color-light: #faf2db;
  --color-light-variant: #f1e3c5;
  --color-light-transparent: rgb(250, 242, 219, 0.7);

  --color-dark: #163440;
  --color-dark-variant: #4b5463;
  --color-dark-transparent: rgb(22, 52, 64, 0.7);

  --color-primary: #f24405;
  --color-primary-variant: #a12e03;

  /* plans */
  --color-plan-sakura: #e4a8c9;
  --color-plan-sakura-dark: #80354e;
  --color-plan-fuji: #87a3a7;
  --color-plan-fuji-dark: #1b3032;
  --color-plan-bushido: #e59292;
  --color-plan-bushido-dark: #501010;
  --color-plan-tenka: #ed1c24;
  --color-plan-tenka-dark: #5a0e0f;
}

/* ------------------------------- font sizes ------------------------------- */
:root {
  --font-size-sm: 1.2rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 3.2rem;
  --font-size-xxl: 5rem;
  --font-size-xxxl: 8.2rem;
}

/* --------------------------------- spaces --------------------------------- */
:root {
  --space-sm: 13px;
  --space-md: 34px;
  --space-lg: 55px;
  --space-container-y: 10vh;
  --space-container-x: 5%;
}

/* ------------------------------ font families ----------------------------- */
@font-face {
  font-family: "Anton";
  src: url("/assets/fonts/Anton-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/fonts/NotoSansJP-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-family-title: "Anton";
  --font-family-base: "Noto Sans";
  --font-family-text-jp: "Noto Sans JP";
}

/* --------------------------------- others --------------------------------- */
:root {
  --rounded-sm: 5px;
  --rounded-md: 16px;
  --duration-fast: 0.3s;
  --duration-normal: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  align-items: center;
  place-content: center;
  transition-duration: var(--duration-normal);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 300px;
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
  font-family: var(--font-family-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 125%;
  text-wrap: balance;
  letter-spacing: 0.5px;
}

p,
span,
small {
  text-wrap: pretty;
}

input,
textarea,
select,
button {
  touch-action: manipulation; /* Prevenir zooms y desplazamientos inesperados */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-light-variant);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-variant);
  border-radius: var(--rounded-md);
  border: 4px solid var(--color-light-variant);
}
