.section {
  min-height: 100dvh;
  padding: var(--space-container-y) var(--space-container-x);
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--color-dark-variant),
    var(--color-dark)
  );
}

.card {
  min-height: 100dvh;
}

.contentContainer {
  padding: var(--space-md);
  max-width: 800px;
  background-color: var(--color-light);
}
