.contentContainer {
  width: 100%;
  height: 100%;
  min-height: 90dvh;
  padding: var(--space-container-y) var(--space-container-x);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: var(--font-size-xxxl);
  font-family: var(--font-family-title);
  text-transform: uppercase;
  color: var(--color-light);
  line-height: 125%;
}

.phrase {
  margin-top: 20px;
}

.inspiration {
  margin-top: var(--space-md);
  opacity: 0.4;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.6;
  }
}

.contentContainer > p {
  max-width: 400px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  max-height: 100dvh;
}

@media (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contentContainer {
    width: 100%;
  }
}
