.fadeIn {
  animation: fadeIn ease-out both;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
