.header {
  padding: var(--space-container-y) var(--space-container-x);
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px min-content;
  gap: var(--space-md);
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.contentContainer > a {
  margin-top: var(--space-lg);
}

@media (min-width: 720px) {
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70%;
  }
}
