/* -------------------------------------------------------------------------- */
/*                             animation variables                            */
/* -------------------------------------------------------------------------- */
.section {
  --triangle-enter: 0.5s linear forwards 1s;

  --triangle-move: 0.5s ease-out forwards 2s;
  --text-and-circle-enter: 0.5s linear forwards 2s;

  --triangle-resize: 1s ease-out forwards 2.6s;

  --section-blink: 1.5s ease-in-out 3.5s 2;

  --triangle-out: 0.5s ease-out forwards 6.5s;
  --triangle-center-out: 0.5s ease-out forwards 7s;
  --text-out: 0.5s ease-out forwards 7s;

  --section-blur: 0.2s linear forwards 7s;
}

.section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  overflow: hidden;
  animation:
    blink var(--section-blink),
    blur var(--section-blur);
}

.triangle {
  width: 80%;
  max-width: 350px;
  position: absolute;
  aspect-ratio: 1/1;
  transform-origin: center;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  opacity: 0;
}

.triangleLeft {
  z-index: 2;
  background-color: var(--color-dark-variant);
  animation:
    enter var(--triangle-enter),
    triLeftMove var(--triangle-move),
    triLeftResize var(--triangle-resize),
    triLeftOut var(--triangle-out);
}

.triangleCenter {
  background-color: var(--color-dark);
  animation:
    enter var(--triangle-enter),
    triangleCenterOut var(--triangle-center-out);
}

.triangleRight {
  background-color: var(--color-primary);
  animation:
    enter var(--triangle-enter),
    triRightMove var(--triangle-move),
    triRightResize var(--triangle-resize),
    triRightOut var(--triangle-out);
}

.title {
  opacity: 0;
  z-index: 3;
  animation:
    text-enter var(--text-and-circle-enter),
    text-out var(--text-out);
}

.circle {
  width: 10px;
  height: 10px;
  background-color: var(--color-light);
  border-radius: 100%;
  position: absolute;
  top: 40%;
  z-index: 4;
  opacity: 0;
  animation: circle-enter var(--text-and-circle-enter);
}

@keyframes enter {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 0.8;
    scale: 1;
  }
}

/* ------------------------------ left triangle ----------------------------- */
@keyframes triLeftMove {
  to {
    transform: translateX(-4%);
  }
}

@keyframes triLeftResize {
  from {
    transform-origin: top left;
  }
  to {
    transform-origin: top left;
    scale: 0.8;
  }
}

@keyframes triLeftOut {
  0% {
    transform-origin: center center;
  }
  40% {
    transform-origin: center center;
    rotate: 90deg;
    translate: 0 0;
  }
  100% {
    transform-origin: center center;
    rotate: 90deg;
    translate: -100% 0;
    opacity: 0;
  }
}

/* ----------------------------- center triangle ---------------------------- */
@keyframes triangleCenterOut {
  to {
    translate: 0 60%;
    opacity: 0;
  }
}

/* ----------------------------- right triangle ----------------------------- */
@keyframes triRightMove {
  to {
    transform: translateX(4%);
  }
}

@keyframes triRightResize {
  from {
    transform-origin: top right;
  }
  to {
    transform-origin: top right;
    scale: 0.9;
  }
}

@keyframes triRightOut {
  0% {
    transform-origin: center center;
  }
  40% {
    transform-origin: center center;
    rotate: -90deg;
    translate: 0 0;
  }
  100% {
    transform-origin: center center;
    rotate: -90deg;
    translate: 100% 0;
    opacity: 0;
  }
}

/* ---------------------------------- text ---------------------------------- */
@keyframes text-enter {
  from {
    translate: 0 30px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes text-out {
  to {
    translate: 0 -200%;
  }
}

/* --------------------------------- circle --------------------------------- */
@keyframes circle-enter {
  from {
    translate: 0 -30px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

/* --------------------------------- section -------------------------------- */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blur {
  to {
    filter: blur(10px);
  }
}
